$titles-margin-bottom: 20px;

.hero {
    background-color: $color-primary;
    padding: 120px 0;

    &__container {
        padding: 0 20px;
        max-width: 1140px;
        margin: 0 auto;
    }

    &__title,
    &__subtitle,
    &__line {
        margin-bottom: $titles-margin-bottom;
    }

    &__title {
    }

    &__subtitle {
    }

    &__line {
        display: inline-block;
        border: 3px solid $color-dark;
        width: 25%;
    }
}