$image-max-width: 200px;

.section {
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include mq-for-desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__padding {
        @include container-padding;
    }

    &__title,
    &__subtitle,
    &__line {
        margin-bottom: 10px;
    }

    &__title {
        @include heading-2;
    }

    &__line {
        display: block;
        border-top: 1px solid $color-dark;
    }

    &__image {
        max-width: $image-max-width;
        width: 100%;
    }

    &__image-container {
        order: 2;

        @include mq-for-desktop {
            order: 0;
        }
    }

    &__content {
        order: 1;
        width: 100%;

        @include mq-for-desktop {
            order: 0;
            width: calc(100% - (#{$image-max-width} + 40px));
        }
    }
}

.purpose,
.services,
.process {
    padding: 100px 0;
    margin-bottom: 100px;

    &__svg {
        position: absolute;
        width: 100%;
        top: -100px;
    }
}

.services {
    background-color: $color-primary;

    &__svg {
        transform: scaleX(-1);
    }
}

.process {
    margin-bottom: 0;

    &__svg {
        transform: scaleY(-1) scaleX(-1);
    }
}