<main>
    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__title display-2">Helping small businesses get noticed online</h1>
            <hr class="hero__line">
            <h2 class="hero__subtitle lead">We build professionally optimized websites that brings your business value.</h2>
            <button class="btn-primary">Let's talk</button>
        </div>
    </section>

    <section id="purpose" class="section purpose">
        <svg class="purpose__svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#fff;" /></svg>

        <div class="section__padding section__container">
            <div class="section__content purpose__content">
                <h3 class="section__title">Our purpose</h3>
                <h4 class="section__subtitle">"How did we ever do this without you?"</h4>
                <hr class="section__line">
                <p>It's simple, a business helps their customers solve problems. That means your business is the solution. Is your business' solution easy to find online? Is it online at all?</p>

                <p>Jenstech partners with small businesses, in the Charlotte, NC area, to create a digital presence. This helps your business easily be found when your customers are trying to find you. We know we can provide so much value you'll end up saying "How did we ever do this without you?".</p>
                <div class="section__ctas">
                    <button type="button" class="btn-primary">Get a presence</button>
                    <a class="btn-primary btn-primary--alt" href="/purpose">Learn more</a>
                </div>
            </div>
            <div class="section__image-container purpose__image">
                <figure>
                    <%- image_tag('images/icon-purpose.svg', {class: 'section__image', alt: 'Our purpose at Jenstech'}) %>
                </figure>
            </div>
        </div>
    </section>

    <section id="services" class="section services">
        <svg class="services__svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#F7F5EF;" /></svg>

        <div class="section__padding section__container">
            <div class="section__image-container service__image">
                <figure>
                    <%- image_tag('images/icon-services.svg', {class: 'section__image', alt: 'Services at Jenstech'}) %>
                </figure>
            </div>
            <div class="section__content services__content">
                <h3 class="section__title">Services</h3>
                <h4 class="section__subtitle">Let's get your business noticed online</h4>
                <hr class="section__line">
                <p>Jenstech exist because we know we can help your company grow by generating more leads. </p>
                <ul class="section__list">
                    <li>Website design</li>
                    <li>Website development</li>
                    <li>Search Engine Optimization (SEO)</li>
                    <li>App development</li>
                    <li>Consulting</li>
                    <li>SEO Audits</li>
                </ul>
                <div class="section__ctas">
                    <a class="btn-primary" href="/services">Learn more</a>
                </div>
            </div>
        </div>
    </section>

    <section id="process" class="section process">
        <svg class="process__svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#F7F5EF;" /></svg>

        <div class="section__padding section__container">
            <div class="section__content process__content">
                <h3 class="section__title">The process</h3>
                <h4 class="section__subtitle">"Can Jenstech help my business grow?"</h4>
                <hr class="section__line">
                <p>You have 1 question you want answered, "Can Jenstech help my business grow?"</p>
                <p>The only way we can help answer that question is to sit down, talk about the problems your business is trying to solve, and see if we can help. We look for a win-win partnership. That means we both benefit from working together.</p>
                <p>Let us help answer that 1 question you have. Give us a call or fill out the form below.</p>
                <div class="section__ctas">
                    <button class="btn-primary" type="button">Call Now</button>
                    <a href="/process" class="btn-primary btn-primary--alt">Learn More</a>
                </div>
            </div>
            <div class="section__image-container process__image">
                <figure>
                    <%- image_tag('images/icon-process.svg', {class: 'section__image', alt: 'Our process at Jenstech'}) %>
                </figure>
            </div>
        </div>
    </section>

    <%- partial('_partials/contact-form') %>
</main>
