<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- css('styles.css') %>
    <title>Jenstech</title>
</head>
<body>
    <%- body %>

    <script>
        const nav = document.getElementById('js-navbar-nav');
        const menuIcon = document.getElementById('js-navbar-icon');
        menuIcon.addEventListener('click', () => {
            menuIcon.classList.toggle('is-close-icon');
            nav.classList.toggle('is-open');
        });
    </script>
</body>
</html>
