h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

h4 {
    @include heading-4;
}

p {
    @include paragraph;
}

.display-1 {
    @include display-1;
}

.display-2 {
    @include display-2;
}

.display-3 {
    @include display-3;
}

.display-4 {
    @include display-4;
}

.lead {
    @include lead;
}

.link {
    border-bottom: 1px solid $color-dark;
    box-shadow: inset 0 -1px 0 0;
    transition: all .25s ease-out;
    color: $color-dark;

    &:hover {
        cursor: pointer;
        box-shadow: inset 0 -1.75rem 0 0 $color-dark;
        color: #fff;
    }
}

.btn {
    font-size: .9rem;
    color:#170f18;
    background-color: $color-accent;
    border-color: $color-accent;
    padding: .75rem 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        color:#170f18;
        background-color:#ff705f;
        border-color:#ff6452;
    }
}