.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-fira;
    font-size: .9rem;
    color: $color-white;
    background-color: $color-accent;
    border: 2px solid $color-accent;
    padding: .75rem 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: all .15s ease-in-out;

    &:hover {
        color: $color-white;
        background-color: lighten($color-accent, 10%);
        border-color: lighten($color-accent, 10%);
    }

    &--alt {
        color: $color-dark;
        background-color: transparent;
        border: 2px solid $color-accent;

        &:hover {
            color: $color-dark;
        }
    }
}
