/*
    Media Queries
*/
@mixin mq-for-desktop {
    @media only screen and (min-width: 900px) {
        @content;
    }
}

@mixin mq-for-lg-mobile {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

/*
    Helpers
*/
@mixin title-accent-line($color) {
    display: inline-block;
    border: 3px solid $color;
    width: 150px;
}