<section id="contact" class="section contact">
    <div class="section__padding section__container contact__container">
        <div class="contact__content">
            <h3 class="contact__title">Let's talk... about you!</h3>
            <hr class="contact__line">
            <p>Tell us a little about your business so we don't have a blind date situation.</p>
        </div>

        <form data-netlify="true" name="general-contact" method="POST" class="contact-form">
            <div class="contact-form__split">
                <div class="contact-form__row">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>

                <div class="contact-form__row">
                    <label for="name">Business Name</label>
                    <input type="text" name="business-name" id="business-name">
                </div>
            </div>

            <div class="contact-form__split">
                <div class="contact-form__row">
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" id="phone">
                </div>

                <div class="contact-form__row">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
            </div>

            <div class="contact-form__row">
                <label for="message">How can we help?</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </form>
    </div>
</section>
