<footer class="footer">
    <div class="footer__container">
        <p class="footer__copyright">
            Copyright © <%- date(Date.now(), 'YYYY') %> Jenstech. All rights reserved
        </p>
    </div>
</footer>
