<header class="navbar">
    <div class="navbar__container">
        <h3 class="navbar__logo logo">
            <% if (is_home()) { %>
                <%- image_tag(theme.logoBlack, { alt: 'Jenstech official logo' }) %>
                Jenstech
            <% } else { %>
                <a href="/">
                    <%- image_tag(theme.logoBlack, { alt: 'Jenstech official logo' }) %>
                    Jenstech
                </a>
            <% } %>
        </h3>
        <button type="button" id="js-navbar-icon" class="navbar-icon">
            <span class="navbar-icon__top-line"></span>
            <span class="navbar-icon__middle-line"></span>
            <span class="navbar-icon__bottom-line"></span>
        </button>
        <nav id="js-navbar-nav" class="navbar__nav">
            <ul class="nav">
                <%- partial('_partials/navigation') %>
            </ul>
        </nav>
    </div>
</header>
