<%
    var nav = site.data.nav;
%>

<% nav.forEach(function(page) { %>
    <li>
        <a href="<%- page.url %>">
            <%- page.name %>
        </a>

        <% if (page.sub_pages) { %> 
            <ul>
                <% page.sub_pages.forEach(function(subpage) { %>
                    <li>
                        <a href="<%- subpage.url %>">
                            <%- subpage.name %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </li>
<% }); %>

