<%
    var nav = site.data.nav;
%>

<% nav.forEach(function(page) { %>
    <li class="nav__item">
        <a href="<%- page.url %>">
            <%- page.name %>
        </a>

        <% if (page.sub_pages) { %> 
            <ul class="sub-nav">
                <% page.sub_pages.forEach(function(subpage) { %>
                    <li class="sub-nav__item">
                        <a href="<%- subpage.url %>">
                            <%- subpage.name %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </li>
<% }); %>

