.footer {
  background-color: $color-dark;
  padding: 50px 0 0 0;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;

    @include mq-for-desktop {
      @include container-padding;
      flex-direction: row;
      text-align: left;
    }
  }

  &__logo,
  &__nav,
  &__socials {
    flex: 1;
  }

  &__logo {
    color: $color-white;

    .logo {
      margin-bottom: 8px;
    }
  }

  &__nav {
    margin: 25px 0;
    text-align: center;

    @include mq-for-desktop {
      margin: 0;
    }

    ul > li {
      padding: 5px 0;

      &:first-child {
        padding: 0 0 5px 0;
      }

      &:last-child {
        padding: 5px 0 0;
      }

      a {
        color: $color-white;
      }
    }
  }

  &__socials {
    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        color: $color-white;
        font-size: 20px;
      }
    }
  }

  &__copyright {
    @include container-padding;
    margin-top: 20px;

    > p {
      border-top: 1px solid $color-white;
      color: $color-white;
      margin: 0;
      padding: 20px 0;
    }
  }
}
