$titles-margin-bottom: 20px;

.page {

  &__container,
  .page-header__container {
    @include container-padding;
  }

  &__content {
    @include content-padding;
    margin: 25px auto 50px;

    p {
      line-height: 30px;
    }

    .lead {
      margin-bottom: 25px;
    }
  }

  &__content-title {
    @include subtitle;
  }

  &__line {
    @include title-accent-line($color-dark);
    margin: 25px 0;
  }

  &__to-page {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

.page-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 25px 0;
  background-color: $color-primary;

  &__image {
    width: 100px;
    margin: 0 auto 10px;
  }
}
